*{
    box-sizing: border-box;
    outline:none;
}
.container{
    text-align: center;
    width: 350px;
    margin: auto;
    padding: 10px 40px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}
.fa{
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px;
    width:34px;
    font-size: 20px;
    margin-right: 5px;
}


.register-form input{
    width:100%;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.46);
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid rgba(133, 127, 127, 0.26);
    background-color:#efefef;
    
    display: inline-block;
}
.register-form input::placeholder{
    color:#a8a1a1;
}
.text1{
    color: #979090;
}
.create-account{
    font-weight: 600;
    color: white;
    background-color: #dd7ff6;
    padding: 10px 50px;
    border:none;
    width:100%;
    border-radius: 25px;
}
.create-account{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
    
}
.container p a{
    color:#8275fb;
    text-decoration: none;
    font-weight: 700;
}
